/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
html {
  height: 100vh; }

body {
  font-family: Roboto Slab, sans;
  font-size: 13pt;
  box-sizing: border-box;
  background: #3aa url("/static/bg2.png") repeat; }

a, a:hover, a:visited {
  color: #5125aa; }

a, a:visited {
  text-decoration: none; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: 600; }

h1, .h1 {
  font-size: 15pt; }

h2, .h2 {
  font-size: 13pt; }

h2, .h3 {
  font-size: 11pt; }

h4, .h4 {
  font-size: 10pt; }

main {
  max-width: 100vw; }
  main > h1, main > h2, main > h3, main > h4, main > .h1, main > .h2, main > .h3, main > .h4 {
    color: #5125aa;
    margin: 10pt auto 5pt auto;
    max-width: 900px; }

.Wrapper {
  max-width: 900px;
  margin: 40pt auto; }
  .Wrapper h1, .Wrapper h2, .Wrapper h3, .Wrapper h4 {
    color: #5125aa;
    margin-top: 20pt; }

.btn {
  font-family: Roboto Slab, sans;
  font-weight: bold;
  text-transform: uppercase; }

/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
@keyframes FadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes Reveal {
  0% {
    opacity: 0;
    transform: translateY(-50pt); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.Fab {
  background: 0 0;
  background: rgba(158, 158, 158, 0.2);
  background: #5125aa;
  border: none;
  color: #fff;
  border-radius: 50%;
  font-size: 15pt;
  height: 40px;
  margin: auto;
  min-width: 40px;
  width: 40px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  line-height: normal;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

.AppWrapper {
  max-width: 500px;
  margin: 0 auto;
  background: #eaeaea;
  background-size: cover;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  height: 100vh;
  border: 3px solid black;
  border-top: none;
  border-bottom: none; }

.Quote {
  height: 100vh; }
  .Quote-background {
    background-size: cover;
    background-position: center;
    object-position: center;
    filter: saturate(0%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    z-index: 0; }
  .Quote-overlay {
    background: transparent;
    position: relative;
    z-index: 1; }

.Quotation {
  color: black;
  padding-top: 50pt;
  text-align: right;
  font-family: Roboto Mono, sans;
  text-transform: uppercase;
  font-weight: 600; }
  .Quotation blockquote {
    font-size: 16pt;
    text-align: left;
    line-height: 2.2; }
    .Quotation blockquote span {
      background: #ffe03d;
      border-bottom: 3px solid #5125aa;
      padding: -0.1em;
      animation: FadeIn 1s ease-out 0s both; }
    .Quotation blockquote span:before, .Quotation blockquote span:after {
      position: relative;
      font-size: 2em;
      color: #5125aa;
      top: 0.25em;
      line-height: 0.5; }
    .Quotation blockquote span:before {
      content: open-quote; }
    .Quotation blockquote span:after {
      content: close-quote; }
  .Quotation cite {
    background: #ffe03d;
    border-bottom: 2px solid #5125aa;
    margin-right: 20pt;
    animation: FadeIn 1s ease-out 0.75s both; }

.ShowMore {
  animation: FadeIn 1s ease 0s both;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10pt;
  text-align: center;
  width: 70%;
  border-top: 3px solid #5125aa;
  margin: 50pt auto 0;
  position: relative;
  transition: transform 0.5s, background-color 0.5s; }
  .ShowMore .Rants {
    display: none; }
  .ShowMore .Fab {
    display: block;
    position: relative;
    top: 20px;
    margin: -10px auto; }
  .ShowMore cite {
    display: block;
    font-size: 10pt;
    text-align: right;
    margin: 10pt 0 20pt 0; }
  .ShowMore q {
    font-size: 14pt;
    font-weight: 600; }

.ShowMore.delay {
  animation-delay: 1s; }

.ShowMore.rants {
  horiz-align: center;
  transform: translateY(-150pt);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.97); }
  .ShowMore.rants .Rants {
    display: block; }

.Rants {
  margin-top: 10px;
  border-top: 2px solid #6663;
  padding: 20pt;
  animation: Reveal 250ms ease 100ms both; }
  .Rants-nav {
    border-top: 2px solid #6663;
    padding-top: 10pt; }

.Video {
  position: fixed;
  animation: FadeIn 0.5s ease-out 0s both; }
  .Video-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    filter: blur(10%);
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    z-index: 3; }
  .Video-content {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;
    z-index: 4; }
    .Video-content iframe {
      border: 3px solid #5125aa;
      background: black; }
    .Video-content > div .Fab {
      margin: 0 5pt;
      display: inline; }

.hidden {
  display: none; }

.Nav {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10pt 20pt;
  box-sizing: border-box; }
  .Nav i.fas {
    padding: 6pt;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%; }

.ShowEvents {
  position: absolute;
  top: 0;
  left: 3.5%;
  width: 85%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 425px;
  color: black;
  background: rgba(255, 255, 255, 0.95);
  padding: 15pt;
  border-top: 3px solid #5125aa;
  border-bottom: 3px solid #5125aa;
  margin: 50pt auto 0;
  text-align: left;
  font-size: 12pt;
  box-shadow: 0 3px 3.5px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 1px rgba(0, 0, 0, 0.24); }
  .ShowEvents .Event {
    animation: Reveal 0.5s ease 0s both; }
  .ShowEvents img {
    display: block;
    width: 80%;
    margin: 10pt auto;
    border: 1px solid black;
    border-radius: 5pt; }
  .ShowEvents h1 {
    display: flex;
    justify-content: space-between; }
    .ShowEvents h1 > * {
      display: block; }
  .ShowEvents h2 {
    margin: 25pt 0 5pt 0;
    color: #5125aa;
    font-size: 13pt; }
  .ShowEvents cite {
    display: block;
    margin: 5pt 0 auto 0;
    text-align: right;
    padding-bottom: 15pt;
    border-bottom: 2px solid #6663; }
  .ShowEvents .back {
    margin: 10pt;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
