/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
html {
  height: 100vh;
  overflow-x: hidden; }

body {
  font-family: Roboto Slab, sans;
  font-size: 11pt;
  box-sizing: border-box;
  background: #3aa url("/falso-profeta/static/bg2.png") repeat;
  background: #3aa url("./static/bg2.png") repeat; }
  @media only screen and (min-width: 500px) {
    body {
      font-size: 13pt; } }
a, a:hover, a:visited {
  color: #5125aa; }

a, a:visited {
  text-decoration: none; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: 600; }

h1, .h1 {
  font-size: 1.15em; }

h2, .h2 {
  font-size: 1em; }

h2, .h3 {
  font-size: 0.9em; }

h4, .h4 {
  font-size: 0.85em; }

/*
 COLORS ROLES
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 FONTS FAMILIES AND SIZES
 ============================================================== */
/*
 SPACING
 =========================================================================== */
/*
 PAGE LAYOUT AND BREAKPOINTS
 =========================================================================== */
/*
 SPACING
 =========================================================================== */
/*
 MIXINS FOR APPLYING COLORS AND STYLES THAT ARE USUALLY APPLIED TOGETHER
 =============================================================================*/
/**
 * Mixin that sets text and background colors. If $force, also sets the
 * text color for child anchor elements.
 */
/*
 MIXINS FOR APPLYING AND TYPOGRAPHICAL STYLES
 =============================================================================*/
@keyframes FadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes Reveal {
  0% {
    opacity: 0;
    transform: translateY(-50pt); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes FromLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes FromRight {
  0% {
    opacity: 0.5;
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.FromLeft {
  animation: FromLeft 300ms ease 0ms both; }

.FromRight {
  animation: FromRight 300ms ease 0ms both; }

.Reveal {
  animation: Reveal 300ms linear 0ms both; }

.ResetAnimation {
  animation: None; }

.FabButton {
  background: 0 0;
  background: #5125aa;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 50%;
  font-size: 15pt;
  height: 40px;
  margin: auto;
  min-width: 40px;
  width: 40px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  line-height: normal;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

.App {
  background: #eaeaea center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0; }
  @media only screen and (min-width: 500px) {
    .App {
      position: initial;
      height: calc(100vh - 20pt);
      max-width: 500px;
      margin: 10pt auto;
      border: 3px solid black;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24); } }
.Nav {
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 10pt 20pt;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10; }
  .Nav i.fas {
    padding: 6pt;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%; }

.Quote {
  color: black;
  text-align: right;
  font-family: Roboto Mono, sans;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40pt; }
  .Quote blockquote {
    font-size: 13pt;
    text-align: left;
    line-height: 2.2;
    margin-top: 0; }
    @media only screen and (min-width: 500px) {
      .Quote blockquote {
        font-size: 16pt; } }
    .Quote blockquote span {
      background: #ffe03d;
      border-bottom: 3px solid #5125aa;
      padding: -0.1em;
      animation: FadeIn 1s ease-out 0s both; }
    .Quote blockquote span:before,
    .Quote blockquote span:after {
      position: relative;
      font-size: 2em;
      color: #5125aa;
      top: 0.25em;
      line-height: 0.5; }
    .Quote blockquote span:before {
      content: open-quote; }
    .Quote blockquote span:after {
      content: close-quote; }
  .Quote cite {
    background: #ffe03d;
    border-bottom: 2px solid #5125aa;
    margin-right: 20pt;
    animation: FadeIn 1s ease-out 0.75s both; }

.MainContent {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0;
  height: calc(50vh - 10pt); }

.ContentBox {
  animation: FadeIn 1s ease 0s both;
  transition: transform 0.5s, background-color 0.5s, width 0.5s, left 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  text-align: center;
  border-top: 3px solid #5125aa;
  margin: 0 auto;
  padding: 10pt;
  position: absolute;
  left: 12.5%;
  width: 70%;
  max-width: 350px;
  max-height: calc(100vh - 40pt); }
  .ContentBox .Rants {
    display: none; }
  .ContentBox-controls {
    display: block;
    position: relative;
    top: 20px;
    margin: -10px auto; }
    .ContentBox-controls .FabButton {
      margin: 0 5pt; }
  .ContentBox cite {
    display: block;
    font-size: 0.9em;
    text-align: right;
    margin: 10pt 0 20pt 0; }
  .ContentBox q {
    font-size: 1.1em;
    font-weight: 600; }

.ContentBox.delay {
  animation-delay: 1s; }

.ContentBox--rants {
  background-color: rgba(255, 255, 255, 0.97);
  transform: translateY(-45vh);
  margin: 0 auto;
  height: calc(90vh - 40pt);
  overflow-y: auto;
  width: 90%;
  left: 1%; }
  .ContentBox--rants .Rants {
    display: block; }
  @media only screen and (min-width: 500px) {
    .ContentBox--rants {
      width: 70%;
      left: 12.5%; } }
.Rants {
  animation: Reveal 250ms ease 100ms both;
  margin-top: 10px;
  border-top: 2px solid #6663;
  padding: 20pt; }
  .Rants-nav {
    border-top: 2px solid #6663;
    padding-top: 10pt; }

.Video {
  animation: none;
  position: fixed; }
  .Video-overlay {
    width: 100%;
    height: calc(100vh + 10pt);
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: -10pt !important;
    left: 0 !important;
    z-index: 3; }
  .Video-content {
    animation: FadeIn 0.5s ease-out 0s both;
    top: 15vh;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 4; }
    .Video-content iframe {
      border: 3px solid #5125aa;
      background: black; }
    .Video-content > div .FabButton {
      margin: 0 5pt;
      display: inline; }

.hidden {
  display: none; }

.ShowEvents {
  color: black;
  background: rgba(255, 255, 255, 0.95);
  font-size: 12pt;
  text-align: left;
  position: relative;
  transform: translateY(-45vh);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: calc(90vh - 40pt);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15pt;
  border-top: 3px solid #5125aa;
  border-bottom: 3px solid #5125aa;
  margin: auto 0;
  box-shadow: 0 3px 3.5px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 1px rgba(0, 0, 0, 0.24); }
  @media only screen and (min-width: 500px) {
    .ShowEvents {
      left: 5%;
      width: 90%; } }
  .ShowEvents .Event {
    animation: Reveal 0.5s ease 0s both; }
  .ShowEvents img {
    display: block;
    width: 80%;
    margin: 10pt auto;
    border: 1px solid black;
    border-radius: 5pt; }
  .ShowEvents h1 {
    display: flex;
    justify-content: space-between; }
    .ShowEvents h1 > * {
      display: block; }
  .ShowEvents h2 {
    margin: 25pt 0 5pt 0;
    color: #5125aa;
    font-size: 13pt; }
  .ShowEvents cite {
    display: block;
    margin: 5pt 0 auto 0;
    text-align: right;
    padding-bottom: 15pt;
    border-bottom: 2px solid #6663; }
  .ShowEvents .back {
    margin: 10pt;
    text-align: center; }

.InitLink {
  position: absolute;
  top: calc(100vh - 55pt);
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 3pt; }
